/* Sections */
section{
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
} 

.section-a {
  background-color: black;
  border-bottom: 2px solid white;
}



.section-inner-a{
  animation: fadeIn 2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  /* background-color: gray; */
}

.logo-karma img{
  width: 50%;
  max-width: 350px;
}

.section-inner-a h3 {
  font-size: 50px;
  width: 60%;
  min-width: 500px;
  margin: auto;
  /* animation: fadeInUp 0.5s ease-in-out; NÃO TÁ FUNCIONANDO A ANIMAÇÃO  */
}


.texto{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}


.texto img{
  max-width: 250px;
  width: 100%;
}

.espelho{
  width: auto;
}

.espelho img{
  width: auto;
  transform: rotateY(180deg);
}






/* Media Queries */
@media (max-width: 960px) {
  .section-inner-center h3 {
    font-size: 75px;
  }
}

@media (max-width: 600px) {
  .section-inner-center h3 {
    font-size: 50px;
  }
}