/* Sections */
section{
  background-color: #090711;
  /* position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase; */
} 

.section-a {
  /* border-bottom: 2px solid white; */
  background-size: cover;
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
}



.section-inner-a{
  animation: fadeIn 2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  /* background-color: gray; */
}

.logo-karma img{
  width: 50%;
  max-width: 350px;
}

.section-inner-a h3 {
  font-size: 3vw;
  width: 60%;
  min-width: 50%;
  margin: auto;
  /* animation: fadeInUp 0.5s ease-in-out; NÃO TÁ FUNCIONANDO A ANIMAÇÃO  */
}

.texto{
  position: relative;
  display: flex;
  justify-content: center;
  animation: fadeInUp 0.5s ease-in-out;
}

.texto img{
  max-width: 200px;
  /* min-width: ; */
  width: 100%;
}

#seta-esquerda {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


.section-b {
  border: 2px solid white;
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-transform: uppercase;
}
.section-inner-b{
  animation: fadeIn 2s ease-in-out;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 50%;
  /* background-color: gray; */
}

/* .section-inner-b img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 250px;
} */

.logos-patrocinio{
  width: 100%;
  height: auto;
}

.logos-patrocinio img{
  margin: 25px 100px;
  width: 50%;
  max-width: 250px;
}

.section-inner-b p{
}

.bg-citation {
  background-image: url("../img/bg-citation-polygon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  text-align: center;
  /* background-color: aqua; */
}

.bg-citation h2{
  width: 60%;
  min-width: 250px;
  margin: auto;
  font-size: 2vw;
}



.section-c {
  background-image: url("../img/KARMA.jpg");
  /* border-bottom: 2px solid white; */
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-transform: uppercase;
}





/* Animações */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(140px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeBounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Media Queries */
@media (max-width: 960px) {
  .section-inner-center h3 {
    font-size: 75px;
  }
}

@media (max-width: 600px) {
  .section-inner-center h3 {
    font-size: 50px;
  }
}