/* Sections */
/* .section{
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
}  */

.bg-krm {
/* background-image: url('../img/dragon.webp'); */
background-color: black;
background-image: url("../img/logo-karma-comfonte-semfundo.png");
position: relative;
height: 50vh;
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
text-transform: uppercase;
border-bottom: 2px solid white;
}
/* Opacidade do background */

.bg-common{
  background-color: black;
  position: relative;
  height: 50vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-transform: uppercase;
  opacity: 0.5;
}

.bg-common2{
  background-color: white;
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-transform: uppercase;
}


.section-animate {
  animation: fadeIn 2s ease-in-out;
}

.section-inner-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  width: 80%;
}

.section-inner-center h3 {
  font-size: 50px;
  margin-bottom: 15px;
  animation: fadeInUp 0.5s ease-in-out;
}

.section-inner-center p {
  font-size: 20px;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;
}

/* Media Queries */
@media (max-width: 960px) {
  .section-inner-center h3 {
    font-size: 75px;
  }
}

@media (max-width: 600px) {
  .section-inner-center h3 {
    font-size: 50px;
  }
}