body{
  margin: 0;
  padding: 0;
}

.svgcontainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}
/* 
svg{
  width: 40%;
}

path {
  fill: #1da1f2;
  stroke: white;
  stroke-width: 1px;
}

.norte{
  fill: purple;
  stroke: red;
  stroke-width: 3px;
  transition: fill 0.4s;
}

.nordeste{
  fill: gray;
  stroke: red;
  stroke-width: 3px;
  transition: fill 0.4s;
} */

/* #BR-AL, #BR-BA, #BR-CE, #BR-MA, #BR-PB, #BR-PE, #BR-PI, #BR-RN, #BR-SE, #BR-AL */

/* .nordeste:hover #BR-AL{
  fill: white;
  transition: fill 0.4s;
} */

/* #BR-AL:hover{
  fill: white;
  transition: fill 0.4s;
}

.centro-oeste{
  fill: blue;
  stroke: red;
  stroke-width: 3px;
  transition: fill 0.4s;
}

.sudeste{
  fill: green;
  stroke: red;
  stroke-width: 3px;
  transition: fill 0.4s;
}

.sul{
  fill: yellow;
  stroke: red;
  stroke-width: 3px;
  transition: fill 0.4s;
} */

/* path:hover{
  fill: purple;
  stroke: red;
  stroke-width: 3px;
  transition: fill 0.4s;
} */

.RegiaoNorte {
  fill:#98db11
}

/* .RegiaoNorte:hover{
  fill: white;
} */

.RegiaoNordeste {
  fill:#5599ff;
}

.RegiaoNordeste:hover{
  opacity: 0.5;
  fill:#fff;
}

/* #BR-AL, #BR-BA, #BR-CE, #BR-MA, #BR-PB, #BR-PE, #BR-PI, #BR-RN, #BR-SE, #BR-AL  */


.RegiaoCentroOeste {
  fill:#ffd42a;
}

.RegiaoCentroOeste:hover{
  opacity: 1;
  fill:#000;
}
.RegiaoSudeste{
  fill:#ff0000;
}
.RegiaoSul {
  fill:#ff9900;
}




.seta {
  position: relative;
  justify-content: center;
  display: flex;
  margin-top: 50px;
  transform: rotate (90deg);
}
.seta span {
  width: 50px;
  height: 5px;
  background-color: greenyellow;
  position: relative;
}
.seta span:before,
.seta span:after {
  margin-left: 22px;
  content: "";
  width: 35px;
  height: 100%;
  background-color: greenyellow;
  position: relative;
  display: flex;
}
.seta span:before {
  -moz-transform: rotate (45deg);
  -ms-transform: rotate (45deg);
  -o-transform: rotate (45deg);
  -webkit-transform: rotate (45deg);
  transform: rotate (45deg);
  bottom: 11px;
}
.seta span:after {
  -moz-transform: rotate (-45deg);
  -ms-transform: rotate (-45deg);
  -o-transform: rotate (-45deg);
  -webkit-transform: rotate (-45deg);
  transform: rotate (-45deg);
  bottom: -6px;
}